{% extends 'base.html.twig' %}

{% block title %}Список{% endblock %}

{% block body %}
    <h1>Календарь Списком</h1>
    <ul>
        {% for day in days %}
            <li>{{ day.day }}</li>
        {% endfor %}
    </ul>
{% endblock %}